<footer class="footer text-center">
      <br>
      <br>
      <img src="../../assets/images/sun.png" class="logo">
      <br>

      <div class="row">
            <div class="mx-auto">
              <nav class="navbar navbar-expand-lg navbar-light">   
                <a class="navbar-brand" href="#"></a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
          
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/']">HOME<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/about']">CAFE MENU</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/contact']">RESERVATION</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/terms']">ABOUT US</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/feedback']">CONTACT US</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>

        <br>
        <br>

    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle mr-3" href="#">
            <i class="fab fa-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle mr-3" href="#">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle mr-3" href="#">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
      </ul>
        <p class="text-muted small mb-0">Copyright &copy; Your Website 2019</p>
    </div>
    <br>
<br>
  </footer>
  
