<br>
<h1>Enjoy The Best Meal</h1>
<hr class="line">

<br>
<h2>----Coffee----</h2>

<br>
<div class="card-deck">
    <div class="card">
      <img src="../../assets/images/GettyImages-105653120-5c8e6299c9e77c0001a92684.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Espresso</h5>
        <h6>Rs.110</h6>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/images/02e313dd98204b7380730e96f8d50c38.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Americano</h5>
        <h6>Rs.135</h6>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/images/Late.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Latte</h5>
        <h6>Rs.105</h6>
      </div>
    </div>
  </div>

  <br>
  <div class="card-deck">
    <div class="card">
      <img src="../../assets/images/coffee_620x318_41486141224.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cappuccino</h5>
        <h6>Rs.165</h6>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/images/Dark-Chocolate-Mocha-Square.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dark Chocolate Mocha</h5>
        <h6>Rs.195</h6>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/images/Product-Details-Frappe-Coffee-mobile.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Coffee Frappe</h5>
        <h6>Rs.150</h6>
      </div>
    </div>
  </div>

  <br>
  <br>
  <h2>----Snacks----</h2>

  <br>
  <div class="card-deck">
    <div class="card">
      <img src="../../assets/images/RFO-1400x919-ChickenClubSandwich-0ee77c05-5a77-49ac-a3bd-4d45e3b4dca7-0-1400x919.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Classic Chicken Sandwich</h5>
        <h6>Rs.140</h6>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/images/2017_08_21_9-22-16_9999_33RAINBOW-VEGGIE-SANDWICH-VEGANRECIPE820.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Rainbow Sandwich Veggie</h5>
        <h6>Rs.120</h6>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/images/paneer-sandwich-recipe-1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Paneer Sandwich</h5>
        <h6>Rs.130</h6>
      </div>
    </div>
  </div>

  <br>
  <div class="card-deck">
    <div class="card">
      <img src="../../assets/images/The-Best-Egg-Salad-Sandwich-Recipe.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Egg Salad Sandwich</h5>
        <h6>Rs.160</h6>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/images/white-sauce-pasta.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">White Sauce Pasta</h5>
        <h6>Rs.190</h6>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/images/maxresdefault.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Red Sauce Pasta</h5>
        <h6>Rs.190</h6>
      </div>
    </div>
  </div>

  <br>
  <div class="card-deck">
    <div class="card">
      <img src="../../assets/images/images.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Chicken Burger</h5>
        <h6>Rs.180</h6>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/images/image-placeholder-title.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Veggie Burger</h5>
        <h6>Rs.140</h6>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/images/20180309-french-fries-vicky-wasik-15-1500x1125.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Crispy French Fries</h5>
        <h6>Rs.110</h6>
      </div>
    </div>
  </div>

  <br>
  <br>
  <h2>----Combos----</h2>

  <br>
  <div class="card-deck">
    <div class="card">
      <img src="../../assets/images/7.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Coffee + Chocolate Donut + Sponge Cake</h5>
        <h6>Rs.360</h6>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/images/Coffee_Sandwich_Cup_Breakfast_534035_3840x2160.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Coffee + Veggie Sandwich</h5>
        <h6>Rs.230</h6>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/images/img_1043.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Coffee + Burger</h5>
        <h6>Rs.256</h6>
      </div>
    </div>
  </div>

  <br>
  <div class="card-deck">
    <div class="card">
      <img src="../../assets/images/l.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Coffee + Burger + Fries</h5>
        <h6>Rs.290</h6>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/images/IMG_4101.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Coffee + Pasta</h5>
        <h6>Rs.320</h6>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/images/coffee-delicious-food-pizza-Favim.com-252697.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Coffee + Pizza</h5>
        <h6>Rs.410</h6>
      </div>
    </div>
  </div>

  <br>