/* *********************what we can offer*************************** */
.heading{
    text-align: center;
    font-family: "Cormorant Garamond";
    font-weight: 700;
    font-size: 43px;
    color: black;
}

h1{
    text-align: center;
    font-family: 'Montserrat'!important;
    font-size: 18px;
    color: black;
    font-weight: inherit;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

h1:before , h1:after{
    position: absolute;
    overflow: hidden;
    width: 10%;
    height: 1px;
    content:'\a0';
    background-color: black;
}

h1:before{
    margin-left: -10%;
    text-align: right;
}

.card{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-radius: 50%;
    border: 0px white;
    background-color: transparent;
}

.card-title{
    text-align: center;
    font-family: "Cormorant Garamond";
    font-weight: 600;
    font-size: 24px;
}

.card-text{
    font-family: 'Montserrat'!important;
    font-size: 18px;
    color: black
}

.card-img-top{
    height:400px;
}

#coffee{
    border-radius: 50%;
}

#snacks{
    border-radius: 50%;
}

#combos{
    border-radius: 50%;
}

/* ***************************welcome card******************************** */
#welcome{
    font-size: 50px;
}

#sub-para{
    font-size: 20px;
}

/* *******************************perfect combos*************************** */
#add-combo{
    font-size: 40px;
}

#about-combo{
    font-size: 20px;
}

#perfect{
    height: 450px;
}

/* *********************welcome card & perfect combos************************ */
.line{
    border: 1px solid #a6a6a6;
}

/* ****************************our team************************************ */
.team{
    text-align: center;
    font-family: "Cormorant Garamond";
    font-weight: 700;
    font-size: 43px;
}

h3{
    text-align: center;
    color:#a6a6a6;
    font-family: 'Montserrat'!important;
}

#manager{
    padding-left: 30px;
}

#seller{
    padding-right: 30px;
}