<!-- //////////////////////////////////////////////// -->
<!-- **************what we can offer****************** -->
<!-- //////////////////////////////////////////////// -->

<br>
  <h2 class="heading">What We Can Offer</h2>
    <h1>------from our hearts------</h1>
  <br>
  <br>
  <div class=" mx-auto col-lg-11 col-md-11 col-sm-11">
    <div class="row">
      <div class="card col-lg-3 offset-lg-1 col-md-3 offset-md-1 col-sm-3 offset-sm-1" style="width: 18rem;">
        <img src="../../assets/images/surj.jpg" class="card-img-top" id="coffee" alt="..." >
        <div class="card-body">
          <h5 class="card-title">----Coffee----</h5>
          <p class="card-text">We believe that coffee is more than just a drink: It’s a culture, an economy, an art, a science — and a passion.</p>
          </div>
      </div>
      <div class="card col-lg-3 offset-lg-1 col-md-3 offset-md-1 col-sm-3 offset-sm-1" style="width: 18rem;">
        <img src="../../assets/images/sna10s.jpg" class="card-img-top" id="snacks" alt="..." >
        <div class="card-body">
          <h5 class="card-title">----Snacks----</h5>
          <p class="card-text">A snack is a small service of food and generally eaten between meals.Snacks come in a variety of forms including packaged snack foods and other processed foods, as well as items made from fresh ingredients at home.</p>
          </div>
      </div>
      <div class="card col-lg-3 offset-lg-1 col-md-3 offset-md-1 col-sm-3 offset-sm-1" style="width: 18rem;">
        <img src="../../assets/images/Di-Ghent-Cafe.jpg" class="card-img-top" id="combos" alt="..." >
        <div class="card-body">
          <h5 class="card-title">----Combos----</h5>
          <p class="card-text">In the culinary world, there are some food combos that are simply non-brainers.Flavors like chocolate and peanut butter or macaroni and cheese just make sense.</p>
          </div>
      </div>
    </div>
  </div>

<!-- //////////////////////////////////// -->
<!-- *************ending*************** -->
<!-- /////////////////////////////////// -->


<!-- //////////////////////////////////// -->
<!-- ***********welcome card************ -->
<!-- /////////////////////////////////// -->

  <br>
  <br>
  <div class="card mb-3" style="max-width: 100%;">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="../../assets/images/Coffee-Shop-640x420.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <br>
          <br>
          <br>
          <h5 class="card-title" id="welcome">Welcome to Cafe Sunshine<hr class="line"></h5>
             <br>
          <p class="card-text" id="sub-para">Cafe Sunshine to the youth is a “hangout” spot where they meet people, make conversations, and have a whole lot of fun over steaming cups of great coffee.It's been an exciting journey since then to becoming the largest organised retail cafe chain in the country. 

          </p>
        </div>
      </div>
    </div>
  </div>

<!-- //////////////////////////////// -->
<!-- **********ending************ -->
<!-- //////////////////////////////// -->


<!-- //////////////////////////////////// -->
<!-- ***********perfect combos************ -->
<!-- ///////////////////////////////////// -->

   <br>
  <br>
  <div class="card mb-3" style="max-width: 100%;">
    <div class="row no-gutters">
     
      <div class="col-md-6">
        <div class="card-body">
          <br>
          <br>
          <br>
          <h5 class="card-title" id="add-combo">Perfect Combos are Here<hr class="line"></h5>
          <br>
          <p class="card-text" id="about-combo">Enjoy your favourite classic beverages like café frappe, café latte, alphonso mango milkshake and more at Café Sunshine stores.</p>
         
        </div>
      </div>
      <div class="col-md-6">
        <img src="../../assets/images/coffee-croissant-twenty20_698e38b4-beeb-432b-81a2-cc65e08dc77c-58e5b0e65f9b58ef7e06165e.jpg" class="card-img" id="perfect" alt="...">
      </div>
    </div>
  </div>

<!-- //////////////////////////////////////// -->
<!-- *****************ending****************** -->
<!-- //////////////////////////////////////// -->


<!-- ////////////////////////////////////////// -->
<!-- ****************our team***************** -->
<!-- ////////////////////////////////////////// -->

  <br>
  <br>
  <h2 class="team">Our Team</h2>
    <h1>------is the best------</h1>
    <br>
  <div class="card-deck">
    <div class="card" id="manager">
      <img src="../../assets/images/michael-dam-258165.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Carol William</h5>
        <h3>MANAGER</h3>
        <p class="card-text">Cafe Manager to organize daily operations and motivate our staff to provide excellent customer service.</p>
        
      </div>
    </div>
    <div class="card" id="owner">
      <img src="../../assets/images/michael-dam-2581653.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Peter Lauren</h5>
        <h3>OWNER</h3>
        <p class="card-text">Owner of the cafe is good looking and intelligent as he come with this idea.</p>
        
      </div>
    </div>
    <div class="card" id="head-chef">
      <img src="../../assets/images/michael-dam-2581651.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Kate Fuson</h5>
        <h3>HEAD CHEF</h3>
        <p class="card-text">Our head chef is very talented as she makes delicious coffee and also of different varieties.</p>
       
      </div>
    </div>
    <div class="card" id="seller">
      <img src="../../assets/images/michael-dam-2581652.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Jack Fuson</h5>
        <h3>COFFEE SELLER</h3>
        <p class="card-text">Our coffee seller is very loyal to us as he only sells for us and without using any fertilizer.</p>
        
      </div>
    </div>
  </div>

<!-- /////////////////////////////////////// -->
<!-- *************ending***************** -->
<!-- /////////////////////////////////////// -->